@import url("https://fonts.googleapis.com/css?family=Roboto:400,300,500,700");

$deep-orange-500: #FF5722;

$primary-color: #fff;

$background-color: #ccc;
$font-roboto: 'Roboto', sans-serif;

body { 
    font-family:        $font-roboto; 
    color:              $primary-color; 
    background-color:   $background-color; 
    font-size: 1.3em;
    line-height: 2.0em;
}
