js/bower_components
js/node_modules
js/alexventure*.js
js/bower.*.js
js/package.*.js
js/webpack-stats.json
js/webpack-stats-prod.json
js/dist
js/bundles
css/alexventure*.css
css/style.*.css
rest_framework
